#bureau{
    height: 100vh;
    background-image: url(../img/background-desktop.jpg);
    background-size: cover;
    background-position-y: 50%;
    .icone{
        padding: 30px ;
     
    }
    .one{
        a{
            margin-right: 100px;
        }
    }
    .two{
        a{
            margin-left: 300px;
        }
    }
    .tree{
        a{
            margin: 100px 80px;
        }
    }
    
    #navbar{
        height: 55px;
        background-color: rgba(20, 20, 20, 0.8);
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        align-items: center;
        ul{
            display: flex;
            padding: 5px 30px;
            li{
                margin-right: 25px;
                a{
                    img{
                        width: 25px;
                    }
                }
            }
        }

        .status{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            color: white;

            .infos{
                img{
                    width: 17px;
                    margin-right: 5px;
                }
                margin-right: 20px;
            }

            .date{
                margin-right: 20px;
                font-size: 0.8rem;

                .heure{
                    text-align: end;
                    margin-bottom: 5px;
                }
            }
        }
    }

}