#bureau{
    position: absolute;
    top: 0;
    z-index: -2;
    height: 100vh;
    width: 100vw;
    background-image: url(../img/background-desktop.jpg);
    background-size: cover;
    background-position-y: 50%;
    overflow-y: hidden;

    .app{

        position: absolute;
        .icon-desktop{
        
            img{
                width: 45px;
            }
        }
        .name{
            margin-top: 10px;
            color: white;
            font-size: 0.9rem;
            text-align: center;
        }
    }

    .bin{
        top: 20px;
        left: 40px;

        .name{
            position: absolute;
            right: -6px;
        }
    }

    .edge{
        top: 140px;
        left: 40px;
    }

    .audio{
        top: 260px;
        left: 40px;
        .name{
            position: absolute;
            left: -3px;
        }
    }

    .messagerie{
        top: 380px;
        left: 40px;

        .name{
            position: absolute;
            right:-16px;
        }
    }

    .galerie{
        top: 20px;
        left: 148px;
    }

    
    
    
    #navbar{
        height: 55px;
        background-color: rgba(20, 20, 20, 0.8);
        position: absolute;
        z-index: 3;
        bottom: 0;
        width: 100%;
        display: flex;
        align-items: center;
        ul{
            display: flex;
            padding: 5px 30px;
            li{
                margin-right: 25px;
                a{
                    img{
                        width: 25px;
                    }
                }
            }
        }

        .status{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            color: white;

            .infos{
                img{
                    width: 17px;
                    margin-right: 5px;
                }
                margin-right: 20px;
            }

            .date{
                margin-right: 20px;
                font-size: 0.8rem;

                .heure{
                    text-align: end;
                    margin-bottom: 5px;
                }
            }
        }
    }

}