#verouillage{
    opacity: 1;
    height: 100vh;
    color: white;
    background-size: cover;
    background-position-y: 50%;
    position: relative;
    z-index: 2;
    background-image: url(../img/background-bobby.png);
    overflow-y: hidden;

    .container{
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .heure{
            font-size: 6rem;
            font-weight: bold;
            margin-bottom: 15px;
        }
        .date{
            font-size: 1.5rem;
        }
    }

    .disable{
        display: none;
    }

    .infos{
        position: absolute;
        bottom: 0;
        right: 0;
        ul{
            display: flex;
        }

        li{
            margin: 0 40px 30px 0;
        }
    }
}

#user{
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100vw;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/background-bobby.png);
    background-size: cover;
    background-position-y: 50%;
    
    .name{
        font-size: 2.4rem;
        margin: 30px 0;
    }

    .password{
        position: relative;
        display: flex;
        flex-direction: column;

        input{
            width: 250px;
            height: 30px;
            padding-left: 10px;
            margin-bottom: 15px;
            &:focus{
                outline: none;
            }
        }
        a{
            color: white;
            text-align: center;
        }

        .arrow{
            position: absolute;
            right: 5px;
            border-radius: 15%;
            top: 4px;
            color: black;
            padding: 5px;
            -webkit-transition: background-color 100ms linear;
            -ms-transition: background-color 100ms linear;
            transition: background-color 100ms linear;

            &:hover{
                -webkit-transition: background-color 100ms linear;
                -ms-transition: background-color 100ms linear;
                transition: background-color 100ms linear;

                background-color: #fc843f;
                color: white;
            }

            &:after{
                content: '→';
                transition: 0.2s color;
                
                
                &:hover{
                    color: #fc843f;
                    transition: 0.2s color;
                }
            }
        }
    }
}

// Javascript anim

// .lock{
//     background-image: url(../img/background-bobby.png);
// }
// .unlock{
//     background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/background-bobby.png);
// }
