@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lexend:wght@100;200;400;800&family=MedievalSharp&family=Roboto&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#intro {
  display: none;
  height: 100vh;
  background-color: #1B1B1B;
  color: white;
  overflow-y: none;
}

#intro .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1.4;
}

#intro .profile {
  height: 50%;
  margin-right: 70px;
}

#intro .title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 25px;
}

#intro p {
  margin-bottom: 15px;
}

#intro .button {
  margin-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#intro .button a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  position: relative;
  margin-right: 60px;
  border-bottom: 1px transparent solid;
  -webkit-transition: border 0.2s;
  transition: border 0.2s;
  cursor: pointer;
}

#intro .button a:hover {
  border-bottom: 1px white solid;
  -webkit-transition: border 0.2s;
  transition: border 0.2s;
}

#intro .button a:after {
  content: url(../img/icon/on.png);
  position: absolute;
  top: -10px;
  right: -60px;
}

#verouillage {
  opacity: 1;
  height: 100vh;
  color: white;
  background-size: cover;
  background-position-y: 50%;
  position: relative;
  z-index: 2;
  background-image: url(../img/background-bobby.png);
  overflow-y: hidden;
}

#verouillage .container {
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#verouillage .container .heure {
  font-size: 6rem;
  font-weight: bold;
  margin-bottom: 15px;
}

#verouillage .container .date {
  font-size: 1.5rem;
}

#verouillage .disable {
  display: none;
}

#verouillage .infos {
  position: absolute;
  bottom: 0;
  right: 0;
}

#verouillage .infos ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#verouillage .infos li {
  margin: 0 40px 30px 0;
}

#user {
  color: white;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  width: 100vw;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../img/background-bobby.png);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/background-bobby.png);
  background-size: cover;
  background-position-y: 50%;
}

#user .name {
  font-size: 2.4rem;
  margin: 30px 0;
}

#user .password {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#user .password input {
  width: 250px;
  height: 30px;
  padding-left: 10px;
  margin-bottom: 15px;
}

#user .password input:focus {
  outline: none;
}

#user .password a {
  color: white;
  text-align: center;
}

#user .password .arrow {
  position: absolute;
  right: 5px;
  border-radius: 15%;
  top: 4px;
  color: black;
  padding: 5px;
  -webkit-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
}

#user .password .arrow:hover {
  -webkit-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
  background-color: #fc843f;
  color: white;
}

#user .password .arrow:after {
  content: '→';
  -webkit-transition: 0.2s color;
  transition: 0.2s color;
}

#user .password .arrow:after:hover {
  color: #fc843f;
  -webkit-transition: 0.2s color;
  transition: 0.2s color;
}

#bureau {
  position: absolute;
  top: 0;
  z-index: -2;
  height: 100vh;
  width: 100vw;
  background-image: url(../img/background-desktop.jpg);
  background-size: cover;
  background-position-y: 50%;
  overflow-y: hidden;
}

#bureau .app {
  position: absolute;
}

#bureau .app .icon-desktop img {
  width: 45px;
}

#bureau .app .name {
  margin-top: 10px;
  color: white;
  font-size: 0.9rem;
  text-align: center;
}

#bureau .bin {
  top: 20px;
  left: 40px;
}

#bureau .bin .name {
  position: absolute;
  right: -6px;
}

#bureau .edge {
  top: 140px;
  left: 40px;
}

#bureau .audio {
  top: 260px;
  left: 40px;
}

#bureau .audio .name {
  position: absolute;
  left: -3px;
}

#bureau .messagerie {
  top: 380px;
  left: 40px;
}

#bureau .messagerie .name {
  position: absolute;
  right: -16px;
}

#bureau .galerie {
  top: 500px;
  left: 40px;
}

#bureau #navbar {
  height: 55px;
  background-color: rgba(20, 20, 20, 0.8);
  position: absolute;
  z-index: 3;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#bureau #navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 30px;
}

#bureau #navbar ul li {
  margin-right: 25px;
}

#bureau #navbar ul li a img {
  width: 25px;
}

#bureau #navbar .status {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

#bureau #navbar .status .infos {
  margin-right: 20px;
}

#bureau #navbar .status .infos img {
  width: 17px;
  margin-right: 5px;
}

#bureau #navbar .status .date {
  margin-right: 20px;
  font-size: 0.8rem;
}

#bureau #navbar .status .date .heure {
  text-align: end;
  margin-bottom: 5px;
}

#messagerie {
  overflow-y: visible;
  position: absolute;
  width: 100vw;
  top: 0;
  z-index: 4;
  display: none;
  opacity: 0;
}

#messagerie .border-app {
  position: fixed;
  width: 100vw;
  z-index: 4;
}

#messagerie .border-app .left {
  margin-right: 50px;
}

.opacity80 {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 98vh;
  opacity: 0.8;
  background-color: black;
  display: none;
}

.affichage img {
  width: 500px;
  height: auto;
}

.affichage {
  position: absolute;
  top: 15%;
  right: 20%;
  z-index: 3;
  display: none;
}

.affichage .croix {
  position: absolute;
  margin: 5px;
  cursor: pointer;
  width: 30px;
  height: auto;
}

.conversations {
  padding-top: 100px;
  background-color: #eeeeee;
  display: inline-block;
  width: 40vw;
  height: 100vw;
  padding-left: 50px;
  position: fixed;
}

.conversations h1 {
  margin-bottom: 20px;
}

.conversations a {
  text-decoration: none;
}

.conversations .box-profil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  cursor: pointer;
}

.conversations .box-profil p {
  margin: 0;
  padding: 0;
  color: black;
}

.conversations .box-profil .text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  margin-left: 15px;
}

.conversations .box-profil img {
  width: 80px;
  height: 80px;
}

.discussion {
  margin-right: 15px;
  padding-top: 100px;
  background-color: white;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  display: inline-block;
  width: 60vw;
  position: absolute;
  padding-left: 20px;
  right: 0;
}

.discussion .titre-conv {
  position: fixed;
  width: 100vw;
  background-color: #eeeeee;
  left: 37.7vw;
  top: 0;
  z-index: 3;
  padding-top: 20px;
}

.discussion h1 {
  margin-bottom: 30px;
  margin-top: 100px;
}

.discussion .conv-container {
  margin-top: 100px;
}

.discussion .box-image {
  cursor: pointer;
}

.discussion .l-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.discussion .l-container .message-left {
  border-radius: 20px;
  max-width: 250px;
  min-width: 10px;
  background-color: #3938854D;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin: 10px 0;
  padding: 14px;
}

.discussion .message-right-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.discussion .message-right-container .message-right {
  position: relative;
  color: white;
  border-radius: 20px;
  max-width: 250px;
  min-width: 10px;
  background-color: #393885;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  right: 20px;
  margin: 10px 0;
  padding: 14px;
}

.discussion .message-right-container img {
  width: 150px;
  height: auto;
}

.discussion .message-right-container .tel {
  width: 20px;
  height: auto;
  margin-right: 5px;
}

.discussion .discussion-maxime h1 {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: auto;
  right: 0px;
  z-index: 3;
}

.discussion .discussion-alicia {
  display: none;
}

.discussion .discussion-alicia h1 {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: auto;
  right: 0px;
  z-index: 3;
}

.discussion .discussion-frero {
  display: none;
  height: 100vh;
}

.chatbar {
  position: absolute;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0px;
  right: 0;
  bottom: 0;
}

.chatbar .bulle {
  background-color: #e6e6e6;
  border-radius: 100px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 20px 30px 0;
}

.chatbar .bulle p {
  margin: 0 20px;
  color: #5c5c5c;
}

.chatbar .bulle img {
  width: 20px;
  position: absolute;
  right: 0;
  margin: 0 40px;
}

.title {
  font-size: 30px;
}

.no-scrool {
  overflow-y: hidden;
}

#securisation {
  width: 100vw;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  display: none;
  opacity: 0;
}

.securisation-container {
  background-color: rgba(0, 0, 0, 0.71);
  color: white;
  padding: 30px;
  border-radius: 2px;
}

.securisation-container .cross {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  cursor: pointer;
}

.securisation-container .cross:hover {
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  color: #f74627;
}

.securisation-container .title {
  font-size: 2rem;
  margin-bottom: 10px;
}

.securisation-container .descr {
  margin-bottom: 20px;
}

.securisation-container .securisation-btn {
  text-decoration: none;
  color: white;
  background-color: #f74627;
  padding: 13px;
}

.securisation-container .code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.securisation-container .code input {
  height: 30px;
  padding-left: 10px;
  margin-bottom: 20px;
}

*:focus {
  outline: none;
}

#audio {
  display: none;
  opacity: 0;
  height: 100%;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 2;
  background-color: #2b292e;
}

#player {
  position: absolute;
  bottom: 0;
  z-index: 3;
  width: 100%;
}

#player-track {
  background-color: #fff7f7;
  border-radius: 15px 15px 0 0;
}

#album-name {
  color: #ffffff;
  font-size: 40px;
  font-weight: bold;
  margin: 0 0 20px 20px;
}

#track-time {
  height: 12px;
  margin-bottom: 3px;
  overflow: hidden;
  margin: 5px 20px;
}

#current-time {
  float: left;
}

#track-length {
  float: right;
}

#current-time,
#track-length {
  color: transparent;
  font-size: 12px;
  border-radius: 10px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

#track-time.active #current-time,
#track-time.active #track-length {
  color: #ffffff;
  background-color: transparent;
}

#s-area,
#seek-bar {
  position: relative;
  height: 10px;
  border-radius: 4px;
}

#s-area {
  background-color: #b9b9b9;
  cursor: pointer;
  margin: 0 20px;
}

#ins-time {
  position: absolute;
  top: -29px;
  color: #fff;
  font-size: 12px;
  white-space: pre;
  padding: 5px 6px;
  border-radius: 4px;
  display: none;
}

#s-hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  opacity: 0.2;
  z-index: 2;
}

#ins-time,
#s-hover {
  background-color: #3b3d50;
}

#seek-bar {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  background-color: #fc8645;
  -webkit-transition: 0.2s ease width;
  transition: 0.2s ease width;
  z-index: 1;
}

#player-content {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 2;
}

#buffer-box {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  height: 13px;
  color: #1f1f1f;
  font-size: 13px;
  font-family: Helvetica;
  text-align: center;
  font-weight: bold;
  line-height: 1;
  padding: 6px;
  margin: -12px auto 0 auto;
  background-color: rgba(255, 255, 255, 0.19);
  opacity: 0;
  z-index: 2;
}

#album-art img,
#buffer-box {
  -webkit-transition: 0.1s linear all;
  transition: 0.1s linear all;
}

#album-art.buffering img {
  opacity: 0.25;
}

#album-art.buffering img.active {
  opacity: 0.8;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

#album-art.buffering #buffer-box {
  opacity: 1;
}

#player-controls {
  width: 30%;
  margin: 0 auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.control {
  float: left;
  padding: 12px 0;
}

.control img {
  width: 30px;
}

.button {
  width: 26px;
  height: 26px;
  padding: 15px;
  border-radius: 6px;
  cursor: pointer;
}

.button i {
  display: block;
  color: #d6dee7;
  font-size: 26px;
  text-align: center;
  line-height: 1;
}

.button,
.button i {
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

.button:hover {
  background-color: #474549;
}

.button:hover i {
  color: #fff;
}

#play-pause-button .fas {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icone img {
  width: 10%;
}

#edge {
  position: absolute;
  z-index: 3;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: none;
  opacity: 0;
  overflow-y: hidden;
}

#edge .navigateur {
  height: 100%;
  width: 100%;
  background-color: white;
}

#edge .navigateur iframe {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  position: relative;
  overflow-x: hidden;
}

strong {
  font-weight: bold;
}

.icon {
  width: 20px;
}

.active {
  display: block;
}

.border-app {
  height: 5vh;
  color: white;
  background-color: #262626ed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  border-bottom: 1px white solid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.border-app .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
}

.border-app .right .ico {
  width: 20%;
  margin-right: 15px;
}

.border-app .right .ico img {
  max-width: 100%;
}

.border-app .left {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.border-app .left .fas.fa-times {
  font-size: 1.5rem;
  cursor: pointer;
  -webkit-transition: 0.2s color;
  transition: 0.2s color;
}

.border-app .left .fas.fa-times:hover {
  color: #b42020;
  -webkit-transition: 0.2s color;
  transition: 0.2s color;
}

.loading {
  position: relative;
}

.load-bar {
  margin-top: 50px;
  background-color: #ff67007a;
  width: 8px;
  height: 10px;
  left: 200px;
  display: block;
  position: absolute;
  bottom: 0;
  -webkit-animation-name: Laoding;
          animation-name: Laoding;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.load-bar:nth-of-type(2) {
  left: 213px;
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

.load-bar:nth-of-type(3) {
  left: 226px;
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

.load-bar:nth-of-type(4) {
  left: 240px;
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
}

@-webkit-keyframes Laoding {
  0% {
    width: 5px;
    height: 10px;
    background-color: #ff67007a;
  }
  100% {
    height: 35px;
    -webkit-transform: translatey(15px);
            transform: translatey(15px);
    background-color: #ff6700;
  }
}

@keyframes Laoding {
  0% {
    width: 5px;
    height: 10px;
    background-color: #ff67007a;
  }
  100% {
    height: 35px;
    -webkit-transform: translatey(15px);
            transform: translatey(15px);
    background-color: #ff6700;
  }
}
/*# sourceMappingURL=style.css.map */