@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lexend:wght@100;200;400;800&family=MedievalSharp&family=Roboto&display=swap');
@import "_reset.scss";
@import "_intro.scss";
@import "_verouillage.scss";
@import "_bureau.scss";

body{
    font-family: 'Roboto', sans-serif;
    position: relative;
}

strong{
    font-weight: bold;
}

.icon{
    width: 20px;
}

.active{
    display: block;
}