@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lexend:wght@100;200;400;800&family=MedievalSharp&family=Roboto&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#intro {
  display: none;
  height: 100vh;
  background-color: #1B1B1B;
  color: white;
}

#intro .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1.4;
}

#intro .profile {
  height: 50%;
  margin-right: 70px;
}

#intro .title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 25px;
}

#intro p {
  margin-bottom: 15px;
}

#intro .button {
  margin-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#intro .button a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  position: relative;
  margin-right: 60px;
  border-bottom: 1px transparent solid;
  -webkit-transition: border 0.2s;
  transition: border 0.2s;
  cursor: pointer;
}

#intro .button a:hover {
  border-bottom: 1px white solid;
  -webkit-transition: border 0.2s;
  transition: border 0.2s;
}

#intro .button a:after {
  content: url(../img/icon/on.png);
  position: absolute;
  top: -10px;
  right: -60px;
}

#verouillage {
  height: 100vh;
  color: white;
  background-size: cover;
  background-position-y: 50%;
  position: relative;
}

#verouillage .container {
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#verouillage .container .heure {
  font-size: 6rem;
  font-weight: bold;
  margin-bottom: 15px;
}

#verouillage .container .date {
  font-size: 1.5rem;
}

#verouillage .infos {
  position: absolute;
  bottom: 0;
  right: 0;
}

#verouillage .infos ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#verouillage .infos li {
  margin: 0 40px 30px 0;
}

.lock {
  background-image: url(../img/background-bobby.png);
}

.unlock {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../img/background-bobby.png);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/background-bobby.png);
}

#bureau {
  display: none;
}

#bureau nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body {
  font-family: 'Roboto', sans-serif;
}

strong {
  font-weight: bold;
}

.icon {
  width: 20px;
}
/*# sourceMappingURL=style.css.map */